{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>Lista Usuarios</title>
</head>
<body>
    

    <div class="container">
        <h1 class="text-center mt-5">Lista de Usuarios</h1>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Foto</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Profesion</th>
                    <th scope="col">Genero</th>
                    <th scope="col">Ciudad</th>
                </tr>
            </thead>

            <tbody>
                {% for usuario in usuarios %}
                
                    <tr>
                        <th scope="row">{{usuario.id}}</th>
                        <td><img src={{usuario.foto.url}} width="40" height="40" style="border-radius:50px;"></td>
                        <td>{{usuario.nombre}}</td>
                        <td>{{usuario.profesion}}</td>
                        <td>{{usuario.genero}}</td>
                        <td>{{usuario.ciudad}}</td>
                    </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>

</body>
</html>