{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}{% endblock css %}
    <link rel="stylesheet" href="{% static 'css/propios/other.css' %}">
    <title>{% block title %}Document{% endblock title %}</title>
</head>
<body>
    {% include 'parts/header.html' %}
    {% include 'parts/nav_bar.html' %}

    <main>
        {% block content_main %}{% endblock content_main %}
    </main>

    {% include 'parts/footer.html' %}
</body>
</html>