{% extends 'template_01.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/propios/tienda.css' %}">
{% block title %}Tienda{% endblock title %}

{% block content_main %}

<aside>
    <h4>Secciones</h4>
    <ul>
        <li><a href="#">Opcion</a></li>
        <li><a href="#">Opcion</a></li>
        <li><a href="#">Opcion</a></li>
        <li><a href="#">Opcion</a></li>
        <li><a href="#">Opcion</a></li>
    </ul>
</aside>

<section>
    <div class="seccion-carrusel">

    </div>

    <div class="seccion-noticias">

    </div>
</section>

{% endblock content_main %}