{% load static %}

<section class="principal">

</section>

<section class="noticias">
    <div class="titulo-sec">
        <h1>Noticias</h1>
    </div>
    <div class="row1">
        <article>
            <a href="#"><img src="{% static 'images/imagen.png' %}" alt="Articulo"></a>
        </article>
    
        <article>
            <a href="#"><img src="{% static 'images/imagen.png' %}" alt="Articulo"></a>
        </article>
    
        <article>
            <a href="#"><img src="{% static 'images/imagen.png' %}" alt="Articulo"></a>
        </article>
    
        <article>
            <a href="#"><img src="{% static 'images/imagen.png' %}" alt="Articulo"></a>
        </article>
    
        <article>
            <a href="#"><img src="{% static 'images/imagen.png' %}" alt="Articulo"></a>
        </article>
    
        <article>
            <a href="#"><img src="{% static 'images/imagen.png' %}" alt="Articulo"></a>
        </article>
    </div>

    <div class="row2">
        <article>
            <a href="#"><img src="{% static 'images/imagen.png' %}" alt="Articulo"></a>
        </article>
    
        <article>
            <a href="#"><img src="{% static 'images/imagen.png' %}" alt="Articulo"></a>
        </article>
    
        <article>
            <a href="#"><img src="{% static 'images/imagen.png' %}" alt="Articulo"></a>
        </article>
    
        <article>
            <a href="#"><img src="{% static 'images/imagen.png' %}" alt="Articulo"></a>
        </article>
    
        <article>
            <a href="#"><img src="{% static 'images/imagen.png' %}" alt="Articulo"></a>
        </article>
    
        <article>
            <a href="#"><img src="{% static 'images/imagen.png' %}" alt="Articulo"></a>
        </article>
    </div>
</section>