{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/mockup01.css' %}">
    <title>Mockup01 Template</title>
</head>
<body>
    <header>
        {% include 'Mockup01/header.html' %}
    </header>

    <main>
        {% include 'Mockup01/main.html' %}
    </main>

    <footer>
        {% include 'Mockup01/footer.html' %}
    </footer>
</body>
</html>